<template>
  <div id="app">
    <div class="container">
      <form enctype="multipart/form-data" id="myForm" >
        <input type="text" value="" v-model="user.id">
        <input type="file" multiple @change="fileDropped" accept="image/*">
      </form>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'app',
    data() {
      return {
        user:{}
      }
    },
    methods: {
      fileDropped(e) {
          var images = e.target.files || (e.dataTransfer && e.dataTransfer.files);
          for (var i = 0, f; f = images[i]; i++) {
            this.uploadFile(f);
          }
      },
      uploadFile(file) {
          var data = new FormData()
          data.append('image', file)
          data.append('id', this.user.id)

          const BASE_URL = 'http://localhost:8000';
          const url = `${BASE_URL}/api/upload`;  

          this.$http.post(url, data).then((response) => {
            console.log('File sent...'); 
            console.log(response);
          }, (response) => {
            console.log('Error occurred...');
          });
      }
    }
  }
</script>

<style lang="scss">

</style>